[logger]
    mode = "debug"
    timestamp = "time"

[authorization]
    [[authorization.users]]
        username = "username"
        password = "password"

[api]
    enable = true
    auth = false
    env = "development"
    [api.parsing]
        enable = true

[store]
    keys = ["keys.json"]
    tmp = "tmp"
    [[store.sources]]
        keys = ["keys.json"]
        namespace = "configs"
        type = "git"
        include_regexp = "\\.(json|yml|toml)$"
        exclude_regexp = "(.*\\/\\.git.*|.*\\\\.git.*)"
        [store.sources.git]
            interval = 10
            commit_count = 10
            repository = "https://user:password@server:3000/repository.git"
            branch = "master"