[logger]                # настройка логгера
    mode = "prod"       # режим (prod или dev или debug)
    enable = true       # активация логгера
    timestamp = "none"  # выводить время лога (none, time или full)
    type = true         # выводить тип лога (true или false)

[authorization]                     # настрока авторизации
    [[authorization.users]]         # массив пользователей
        username = "username"       # имя пользователя
        password = "password"       # пароль пользователя
    [[authorization.users]]         
        token = "xxxxxxxxxxxx"      # токен доступа

[api]                                   # настройка API
    enable = false                      # активация API
    auth = false                        # активация авторизации
    listening = "*:3001"                # настройка слушателя
    prefix = "/api"                     # префикс
    proxy = false                       # когда поле заголовка true proxy будут доверенным
    subdomain_offset = 2                # смещение от поддомена для игнорирования
    proxy_header = "X-Forwarded-For"    # заголовок IP прокси
    ips_count = 0                       # максимальное количество IP прочитанное из заголовка прокси, по умолчанию 0 (означает бесконечность)
    env = "development"                 # среда для сервера koa
    #keys = []                          # массив подписанных ключей cookie

[docker_healthcheck]    # настрока провеки здоровя для контейнера (утилита docker-healthcheck)
    enable = false      # активация
    timeout = 10        # время ожидания

[store]                                     # настройка хранилища
    keys = ["keys.json", "key_folder"]      # пути к файлам ключей сервера
    default_namespace = "configs"           # пространство имён по умолчанию
    tmp = "tmp"                             # временная папка
    [[sources]]                                 # массив источников данных
        keys = ["keys.json"]                    # пути к файлам ключей простанства имён
        namespace = "configs"                   # имя пространства имён (должно быть уникально)
        type = "git"                            # тип источника данных
        include_regexp = "\\.(json|yml|toml)"   # regexp для файлов вхождения
        exclude_regexp = "\\.git"               # regexp для файлов исключения
        [sources.git]                                                           # настройка git репозитория
            commit_count = 10                                                   # максимальное количество коммитов
            repository = "https://user:password@server:3000/repository.git"     # репозиторий
            branch = "master"                                                   # ветка
        